<%- include('layout'); -%>


  <main class="homepage">
    <% if (locals.currentUser.member) { %>
      <form action="/post" method="post">
        <p>Create a post!</p>
        <div class="form-row">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="<%- submission.title -%>">
        </div>
        <div class="form-row">
          <label for="text">Description/Text</label>
          <textarea name="text" id="text" cols="30" rows="10" placeholder="Type what you're thinking about!"><%= submission.text %></textarea>
        </div>
        <button type="submit">Submit</button>
        <% if (errors) { %>
          <% for (const error of errors) { %>
            <ul>
              <li><%= error.msg %></li>
            </ul>
          <% } %>
        <% } %>
      </form>
    <% } else { %>
      <div>
        <p>You are not a member. To create and view the authors of posts and comments, please <a href="/member">become a member!</a></p>
      </div>
    <% } %>

    <div class="posts-container">
      <h1>Posts</h1>
      <% if (false) { %>
      
      <% } else { %>
        <p class="be-the-first-msg">
          No posts to show. Be the first to create a post!
        </p>
      <% } %>
    </div>
  </main>


<!-- BELOW ARE THE LINES TO COMPLETE LAYOUT -->
</body>
</html>