<%- include('layout'); -%>


  <main class="member">
    <form action="" method="post">
      <p>Become a member!</p>
      <div class="form-row">
        <label for="code">Code</label>
        <input type="text" name="code" id="code">
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>


<!-- BELOW ARE THE LINES TO COMPLETE LAYOUT -->
</body>
</html>