.homepage>form input {
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
}

.homepage>form textarea {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
  border-width: 2px;
  resize: none;
}

.homepage>form button {
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
  background-color: var(--primary-colour);
  border-color: var(--secondary-colour);
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
}

.homepage>form button:hover {
  background-color: gray;
}

.homepage .posts-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.homepage .posts-container>h1 {
  font-weight: 400;
  font-size: 3rem;
}